.cah-game {
  max-width: 1200px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cah-hand-cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cah-hand {  
  background: #0006;
  margin: 16px;
  padding: 16px;
  padding-top: 24px;
  border-radius: 4px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cah-table {
  text-align: center;
}

.cah-oneplayerwhitecards {
  padding: 12px 12px 22px 12px;
  margin-bottom: 24px;
  background: rgba(0,0,0,.2);
  border-radius: 16px;
  box-shadow: inset 0 6px 32px #0006;
}

.cah-playersinfo {
  display: flex;
  position: fixed;
  right: 8px;
  top: 72px;
}

.cah-playerinfo {
  background: #EEE8;
  color: #111;
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.cah-czarinfo {
  font-weight: 700;
}
