body {
  background-color: #444;
  color: #ccc;
}

.cah-hand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.cah-card {
  font-family: 'Open Sans', sans-serif;
  margin: 8px;
  padding: 12px;
  border-radius: 10px;
  width: 200px;
  height: 260px;
  text-align: center;
  font-weight: 800;
}

.cah-card-white {
  background: #eee;
  color: #111;
}

.cah-card-black {
  background: #111;
  color: #eee;
}

.in-table {
  box-shadow: 0px 1px 2px 1px #1119;
}

.hovering {
  box-shadow: 0px 6px 12px 2px #1119;
}
