body {
  background-color: #444;
  color: #ccc;
}

.cah-login-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  text-align: center;
}

.cah-login-form {
  width: 100%;
  margin-top: 1em;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cah-form-error {
  color: #e66;
  padding: 4px;
  margin: 8px;
  border-radius: 3px;
  background: #1114;
  min-width: 50%;
  text-align: center;
}

.cah-game {
  max-width: 1200px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.cah-hand-cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cah-card {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin: 8px;
  padding: 24px;
  border-radius: 10px;
  width: 10em;
  height: 11em;
  text-align: center;
  font-weight: 800;
  white-space: pre-wrap;
  transition-timing-function: ease-in-out;
  transition: transform .1s, box-shadow .1s;
}

.cah-hand {  
  background: #0006;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  max-width: 1200px;
  text-align: center;
}

.cah-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cah-oneplayerwhitecards {
  display: flex;
  padding: 8px;
  margin: 8px;
  background: #0004;
  border-radius: 3px;
}

.cah-playersinfo {
  display: flex;
  position: fixed;
  right: 8px;
  top: 8px;
}

.cah-playerinfo {
  background: #EEE8;
  color: #111;
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.cah-czarinfo {
  font-weight: 700;
}

.cah-card-white {
  background: #eee;
  color: #111;
}

.cah-card-black {
  background: #111;
  color: #eee;
}

.in-table {
  box-shadow: 0px 1px 2px 1px #1119;
}

.hovering {
  box-shadow: 0px 6px 12px 2px #1119;
}

.selected {
  box-shadow: 0 0 8px 6px #6f9;
}
