body {
  background-color: #444;
  color: #ccc;
}

.cah-hand-cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cah-card {
  font-family: 'Open Sans', sans-serif;
  margin: 8px;
  padding: 24px;
  border-radius: 10px;
  width: 160px;
  height: 180px;
  text-align: center;
  font-weight: 800;
  transition-timing-function: ease-in-out;
  transition: transform .1s, box-shadow .1s;
}

.cah-hand {  
  background: #0006;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  max-width: 1200px;
  text-align: center;
}


.cah-playersinfo {
  display: flex;
  float: right;
}

.cah-playerinfo {
  background: #EEE8;
  color: #111;
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.cah-card-white {
  background: #eee;
  color: #111;
}

.cah-card-black {
  background: #111;
  color: #eee;
}

.in-table {
  box-shadow: 0px 1px 2px 1px #1119;
}

.hovering {
  box-shadow: 0px 6px 12px 2px #1119;
}

.selected {
  box-shadow: 0 0 8px 6px #6f9;
}
